/* Reseta margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
/* Estilização do cabeçalho */
header {
  background: #0077b6;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
}
header img {
  max-width: 200px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
nav ul li a:hover {
  text-decoration: underline;
}
/* Estilização da seção principal */
main {
  padding: 20px;
}
h1,
h2,
h3 {
  color: #0077b6;
  margin-bottom: 10px;
}
article {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
article p,
article a {
  margin-bottom: 10px;
}
article a {
  color: #0077b6;
  text-decoration: none;
}
article a:hover {
  text-decoration: underline;
}
video {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 10px;
}
.explore-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.explore-btn:hover {
  background-color: #005f8a;
}
/* Estilização de seções */
section {
  margin-bottom: 40px;
}
ul li {
  margin-bottom: 10px;
}
ul li img {
  max-width: 100%;
  border-radius: 5px;
}
footer {
  text-align: center;
  background: #0077b6;
  color: #fff;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
